.aiAbs {
  position:absolute;
}
.aiPointText p {
  white-space: nowrap;
}
#homepage, #team, #resources, #process, #instructions, #blog-hello, #sprint1 {
  position:relative;
  overflow:hidden;
}
.logo {
  position:absolute;
  top:20px;
  left:20px;
  width: 160px;
}
p {
  margin:0;
  font-family:'Source Sans Pro',sans-serif;
  line-height:43px;
  filter:alpha(opacity=100);
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
  letter-spacing:0em;
  font-size:33px;
  text-align:left;
  color:rgb(0,0,0);
  text-transform:none;
  padding-bottom:0;
  padding-top:0;
  mix-blend-mode:normal;
  font-style:normal;
  height:auto;
  position:static;
}
a {
  font-family:'Source Sans Pro',sans-serif;
  line-height:43px;
  filter:alpha(opacity=100);
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
  letter-spacing:0em;
  font-size:33px;
  text-align:left;
  color:rgb(0,0,0);
  text-transform:none;
  padding-bottom:0;
  padding-top:0;
  mix-blend-mode:normal;
  font-style:normal;
  height:auto;
  position:static;
  text-decoration: none;
}
.dropdown-content {
  position: relative;
  display: inline-block;
  display: none;
  position: absolute;
  min-width: 120px;
  z-index: 1;
}
.dropdown-content a {
  color: #000000;
  padding: 2px 10px;
  text-decoration: none;
  display: block;
  font-family:'Source Sans Pro',sans-serif;
  font-size:22px;
  font-weight:600;
  text-align:left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #e3f0fc;
}
.tabs{
  font-weight:600;
  line-height:32px;
  height:32px;
  font-size:27px;
}
#homepage .pstyle0 {
  font-weight:600;
  line-height:32px;
  height:32px;
  font-size:27px;
}
#homepage .pstyle1 {
  font-weight:600;
  text-align:center;
}
#homepage .pstyle2 {
  font-weight:600;
}
#homepage .pstyle3 {
  font-weight:600;
  text-align:right;
}
#homepage .pstyle4 {
  text-align:right;
}
#homepage .pstyle5 {
  line-height:40px;
  text-align:center;
}
#homepage .cstyle0 {
  font-weight:bold;
}
#team .pstyle0 {
  font-weight:600;
  line-height:43px;
  font-size:33px;
}
#team .pstyle1 {
  line-height:43px;
  font-size:33px;
}
#team .pstyle2 {
  text-align:justify;
}
#team .pstyle3 {
  font-weight:600;
  line-height:40px;
  font-size:33px;
  text-align:center;
}
#team .pstyle4 {
  line-height:40px;
  font-size:33px;
  text-align:center;
}
#team .cstyle0 {
  font-weight:bold;
}
#resources .pstyle0 {
  font-weight:600;
  line-height:43px;
  font-size:33px;
  text-align:center;
}
#resources .pstyle1 {
  line-height:43px;
  font-size:33px;
  text-align:center;
}
#resources .pstyle2 {
  font-weight:600;
  line-height:58px;
  font-size:48px;
}
#process .pstyle0 {
  font-weight:600;
}
#instructions .pstyle0 {
  font-weight:600;
  text-align:center;
}
#instructions .pstyle1 {
  font-weight:600;
}
#instructions .pstyle2 {
  font-weight:600;
  text-align:justify;
}
#instructions .pstyle3 {
  text-align:justify;
}
#instructions .pstyle4 {
  font-weight:600;
  text-align:right;
}
#instructions .pstyle5 {
  text-align:right;
}
#blog-hello .date {
  text-align:center;
}
#blog-hello .title {
  font-weight:600;
  line-height:74px;
  font-size:75px;
  text-align:center;
}
#blog-hello .content {
  text-align:justify;
}
#sprint1 .pstyle0 {
  font-weight:600;
  text-align:right;
}
#sprint1 .pstyle1 {
  text-align:right;
}
#sprint1 .pstyle2 {
  font-weight:600;
}
#sprint1 .pstyle3 {
  text-align:center;
}
#sprint1 .pstyle4 {
  font-weight:600;
  text-align:center;
}
.header{
  width:100%;
  height:180px;
  top:0;
}
.footer{
  width:100%;
  height:80px;
  top:0;
}
.circle675{
  height: 675px;
  width: 675px;
  background-color: #bbb;
  border-radius: 50%;
  border-radius: 50%;
  position:absolute;
}
.circle400{
  height: 400px;
  width: 400px;
  background-color: #bbb;
  border-radius: 50%;
  border-radius: 50%;
  position:absolute;
}
.circle450{
  height: 450px;
  width: 450px;
  background-color: #bbb;
  border-radius: 50%;
  border-radius: 50%;
  position:absolute;
}
.circle225{
  height: 225px;
  width: 225px;
  background-color: #bbb;
  border-radius: 50%;
  border-radius: 50%;
  position:absolute;
}
.circle175{
  height: 175px;
  width: 175px;
  background-color: #bbb;
  border-radius: 50%;
  border-radius: 50%;
  position:absolute;
}
.circle300{
  height: 300px;
  width: 300px;
  background-color: #bbb;
  border-radius: 50%;
  border-radius: 50%;
  position:absolute;
}
.circle350{
  height: 300px;
  width: 300px;
  background-color: #bbb;
  border-radius: 50%;
  border-radius: 50%;
  position:absolute;
}
.circle250{
  height: 250px;
  width: 250px;
  background-color: #bbb;
  border-radius: 50%;
  border-radius: 50%;
  position:absolute;
}
.circle150{
  height: 150px;
  width: 150px;
  background-color: #bbb;
  border-radius: 50%;
  border-radius: 50%;
  position:absolute;
}
.dotdotdot{
  position:absolute;
}
.dot{
  float:left;
  height:20px;
  width:20px;
  background-color:#000000;
  border-radius:50%;
  position:inline-block;
}
.frame {
  border: 4px solid #000000;
  background-color: #ffffff00;
  position:absolute;
}
.btn{
  height:70px;
  width:220px;
  background-color: #91c2f2;
  position:inline;
  font-weight:600;
  text-align: center;
  line-height: 65px;
  float:left;
}
.blogbtn{
  height:70px;
  width:400px;
  background-color: #91c2f2;
  position:inline;
  font-weight:600;
  text-align: center;
  line-height: 65px;
  float:left;
}
.btn:hover{
  background-color: #c8e1fa;
}
.blogbtn:hover{
  background-color: #c8e1fa;
}
.blue1{
	background:	#91c2f2;
}
.blue2{
  background:	#c8e1fa;
}
.blue3{
  background: #e3f0fc;
}
